@import url("https://unpkg.com/leaflet@1.9.4/dist/leaflet.css");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html,
body,
#root {
  height: 100%;
}
body {
  font-family: Inter, system-ui, -apple-system, "Segoe UI", Roboto, Arial;
  background: #fff;
  color: #111;
}
a {
  color: inherit;
  text-decoration: none;
}
